@model MaisVacina.Models.Login
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina-fundo.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
      
    </style>

</head>
<body>
    @{
        ViewData["Title"] = "Conecte-se";

    }

    <h2>Conectar</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Login" asp-action="Login" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Usuario" class="control-label">Usuário de rede:</label>
                    <input type="text" asp-for="Usuario" class="form-control" id="usuario" />
                    <span class="invisivel" id="erroUsuario">Insira um usuário válido!</span>
                </div>
                <div class="form-group">
                    <label asp-for="Emaillogin" class="control-label">Email:</label>
                    <input type="text" asp-for="Emaillogin" class="form-control" id="email" />
                    <span class="invisivel" id="erroEmail">Insira um e-mail válido!</span>
                </div>
                <div class="form-group">
                    <label asp-for="Senhalogin" class="control-label">Senha:</label>
                    <input type="password" asp-for="Senhalogin" class="form-control" id="senha" />
                    <span class="invisivel" id="erroSenha">Insira uma senha válida!</span>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="return validarLogin()" value="Entrar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Login" asp-action="Register" class="btn btn-default">Criar Registro</a>
        <a asp-controller="Home" asp-action="About" class="btn btn-default">Inicio</a>
    </div>
    <div>
        <img src="~/images/02-saude.png"
             width="250px" height="250px" />
    </div>
</body>
</html>
