@model MaisVacina.Models.Login
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina-fundo.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>
</head>
<body>
    @{
        ViewData["Title"] = "Criar Registro";
    }

    <h2>Criar Registro</h2>
    <h4><font color="black">Registro apenas para usuário interno da rede!</font></h4>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" autocomplete="off" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nomelogin" class="control-label">Nome:</label>
                    <input autocomplete="off" asp-for="Nomelogin" name="login" class="form-control" />
                    <span asp-validation-for="Nomelogin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario" class="control-label">Usuário de rede:</label>
                    <input autocomplete="off" asp-for="Usuario" name="usuario" class="form-control" />
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Emaillogin" class="control-label">Email Corporativo:</label>
                    <input autocomplete="off" asp-for="Emaillogin" name="email" class="form-control" />
                    <span asp-validation-for="Emaillogin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senhalogin" class="control-label">Senha:</label>
                    <input autocomplete="off" type="password" asp-for="Senhalogin" name="senha" class="form-control" />
                    <span asp-validation-for="Senhalogin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SenhaConfirma" class="control-label">Confirma senha:</label>
                    <input autocomplete="off" type="password" asp-for="SenhaConfirma" class="form-control" />
                    <span asp-validation-for="SenhaConfirma" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="return validar()" value="Criar" class="btn btn-success" />
                    <a asp-controller="Home" asp-action="About" class="btn btn-default">Inicio</a>
                </div>
            </form>
        </div>
    </div>
    <div>
        <img src="~/images/passo-01.png"
             width="350px" height="200px" />
    </div>
    <script type="text/javascript">
        function validar() {
            var nome = document.getElementById("nome").value;
            nome = nome.trim();
            if (nome === "" || nome.length < 9 || nome.length > 50) {
                alert("Insira um nome válido!");
                return false;
            }

            var usuario = document.getElementById("usuario").value;
            usuario = usuario.trim();
            if (usuario === "" || usuario.length < 7 || usuario.length >15) {
                alert("Insira um usuario válido!");
                return false;
            }

            var email = document.getElementById("email").value;
            email = email.trim();
            if (email === "" || email.length < 12 || email.length > 50) {
                alert("Insira um e-mail válido!")
                return false;
            }

            var senha = document.getElementById("senha").value;
            senha = senha.trim();
            if (senha === "" || senha.length < 7 || senha.length > 20) {
                alert("Insira uma senha válida!")
                return false;
            }
            
            return true;
        }
    </script>
</body>
</html>
