@model MaisVacina.Models.Login
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina-fundo.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>
</head>
<body>
    @{
        ViewData["Title"] = "Criar Registro";
    }

    <h2>Criar Registro</h2>
    <h4><font color="black">Registro apenas para usuário interno da rede!</font></h4>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" autocomplete="off" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nomelogin" class="control-label">Nome:</label>
                    <input autocomplete="off" asp-for="Nomelogin" id="nome" class="form-control" />
                    <span class="invisivel" id="erroNome">Insira um nome válido!</span>
                </div>
                <div class="form-group">
                    <label asp-for="Usuario" class="control-label">Usuário de rede:</label>
                    <input autocomplete="off" asp-for="Usuario" id="usuario" class="form-control" />
                    <span class="invisivel" id="erroUsuario">Insira um usuário válido!</span>
                </div>
                <div class="form-group">
                    <label asp-for="Emaillogin" class="control-label">Email Corporativo:</label>
                    <input autocomplete="off" asp-for="Emaillogin" id="email" class="form-control" />
                    <span class="invisivel" id="erroEmail">Insira um e-mail válido!</span>
                </div>
                <div class="form-group">
                    <label asp-for="Senhalogin" class="control-label">Senha:</label>
                    <input autocomplete="off" type="password" asp-for="Senhalogin" id="senha" class="form-control" />
                    <span class="invisivel" id="erroSenha">Insira uma senha válida!</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirma senha:</label>
                    <input autocomplete="off" type="password" class="form-control" id="senhaConfirma" />
                    <span class="invisivel" id="erroSenhaConfirma"></span>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="return validarRegister()" value="Criar" class="btn btn-success" />
                    <a asp-controller="Home" asp-action="About" class="btn btn-default">Inicio</a>
                </div>
            </form>
        </div>
    </div>
    <div>
        <img src="~/images/passo-01.png"
             width="350px" height="200px" />
    </div>
</body>
</html>
