@model MaisVacina.Models.Login
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>

</head>
<body>
    @{
        ViewData["Title"] = "Criar Registro";
    }

    <h2>Criar Registro</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nomelogin" class="control-label">Nome:</label>
                    <input asp-for="Nomelogin" class="form-control" />
                    <span asp-validation-for="Nomelogin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Emaillogin" class="control-label">Email:</label>
                    <input asp-for="Emaillogin" class="form-control" />
                    <span asp-validation-for="Emaillogin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senhalogin" class="control-label">Senha:</label>
                    <input asp-for="Senhalogin" class="form-control" />
                    <span asp-validation-for="Senhalogin" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="About" class="btn btn-default">Inicio</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>
