
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>

</head>
<body>
    @{
        ViewData["Title"] = "Mais Informações";
    }
    <h2>@ViewData["Title"]</h2>
    <h3>Para mais informações acesse:</h3>

    <address>
        <strong>Suporte:</strong> <a href="mailto:wendiramos36@gmail.com">Clique para entrar em contato</a><br />
    </address>
</body>
</html>