@model MaisVacina.Models.Cadastro
    <!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(/Images/vacina-fundo.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center, center;
        }
    </style>

</head>
<body>

    @{
        ViewData["Title"] = "Criar Cadastro";
    }

    <h2>Criar Cadastro</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" autocomplete="off" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" name="nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nascimento" class="control-label"></label>
                    <input asp-for="Nascimento" class="form-control" name="nasc" />
                    <span asp-validation-for="Nascimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereço" class="control-label"></label>
                    <input asp-for="Endereço" class="form-control" name="endereço" />
                    <span asp-validation-for="Endereço" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPF" class="control-label"></label>
                    <input asp-for="CPF" class="form-control" name="cpf" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" name="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" onclick="return validar()" value="Criar" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-default">Voltar</a>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function validar() {
            var nome = document.getElementById("nome").value;
            nome = nome.trim();
            if (nome === "" || nome.length < 9 || nome.length > 50) {
                alert("Insira um nome válido!");
                return false;
            }

            var nasc = document.getElementById("nasc").value;
            nasc = nasc.trim();
            if (nasc === "" ) {
                alert("Insira uma data válida!");
                return false;
            }

            var endereço = document.getElementById("endereço").value;
            endereço = endereço.trim();
            if (endereço === "" || endereço.length < 30 || endereço.length > 200) {
                alert("Insira um endereço válido!")
                return false;
            }
            var cpf = document.getElementById("cpf").value;
            cpf = cpf.trim();
            if (cpf === "" || cpf.length < 11 || cpf.length > 20) {
                alert("Insira um cpf válido!")
                return false;
            }
            var email = document.getElementById("email").value;
            email = email.trim();
            if (email === "" || email.length < 12 || email.length > 50) {
                alert("Insira um e-mail válido!")
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
